@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900';

/*
Theme color: #311B92, #7C4DFF;
*/

/* Links */
a {
	color: #311B92;
	-webkit-transition: 0.2s ease-in-out;
}

a:hover {
	color: #7C4DFF;
	text-decoration: none;
	-webkit-transition: 0.2s ease-in-out;
}


/*Reset list style  */
ul {
	padding: 0;
}

li {
	list-style: none;
}



/* Hide */
.hide {
	display: none;
}


/* Header */
.header {
	background: #FFF;
	padding: 2rem 2rem 0;
	width: 100%;
}

.nav-wrapper,
.social-media-wrapper {
	width: 100%;
}

.nav-wrapper{
	margin-left: 3rem;
}

.nav-wrapper img {
	-webkit-transform: rotate(-35deg);
}

.nav-wrapper ul a {
	margin-right: 1.5rem;
}

.social-media {
	margin-right: 2rem;
}

.social-media i {
	font-size: 1.5rem;
	margin-right: 1rem;
}


/* Intro */
.intro {
	width: 100%;
	margin-top: 2rem;
	text-align: center;
}

.intro h5 {
	margin-bottom: 2rem;
	font-size: 3rem;
	font-family: 'Nunito', sans-serif;
}

.intro p {
	font-size: 1.2rem;
}


/* Chat container */
.chat-container {
	margin: 0 auto;
	width: 50%;
}

.chat-box {
	padding: 2rem;
	margin: 1rem 0;
	text-align: center;
}

.message-field input {
	font-size: 1.3rem;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #BDBDBD;
}

.message-field input:focus {
	border-bottom: 1px solid #7C4DFF;
}

.idle-msg-wrapper {
	color: #BDBDBD;
	font-size: 1.2rem;
	-webkit-animation: blink 1.5s infinite;
}
@keyframes blink {
	50% { opacity: 0; }
}


.msg-wrapper p {
	font-size: 1.2rem;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
}



/* Footer */
.footer {
	padding: 1rem;
	background: #FFF;
	text-align: center;
}

.footer img {
	margin-left: 1rem;
}

.footer img:hover {
	cursor: pointer;
}


.fa-heart {
	color: #EF5350;
}




/* Login Area */
.login-form {
	margin: 8% auto 0;
	width: 350px;
	padding: 2rem;
}

.login-form label,
.login-form input,
.login-form button {
	margin-bottom: 1rem;
}

.login-form input:focus {
	border-color: #7C4DFF;
}

.login-form button {
	background: #311B92;
	border-color: #311B92;
}

.login-form button:focus {
	background: #7C4DFF;
	border-color: #7C4DFF;
	color: #FFF;
}

.login-form button:hover {
	background: #7C4DFF;
	border-color: #7C4DFF;
}



/* Dashboard, Ongoing, Past areas */
.page-container {
	margin: 6rem 4rem 0;
}


/* Dashboard */
.dash-buttons-container {
	margin: 0 auto;
	width: 50%;
	display: flex;
}

.dash-buttons-container a {
	width: 40%;
	margin: 25% 5% 0;
	padding: 2rem 0;
	border: 1px solid #311B92;
	border-radius: 3px;
	font-size: 1.1rem;
	text-align: center;
}

.dash-buttons-container a:hover {
	background: #7C4DFF;
	color: #FFF;
	border-color: #7C4DFF;
} 



/* Create post area */
.create-post-form {
	width: 100%;
}


.cp-form-left,
.cp-form-right {
	width: 48%;
}

.cp-form-left {
	margin-right: 2%;
}

.cp-form-right {
	margin-left: 2%;
}


.inputs-wrapper li {
	margin-bottom: 1rem;
}

.tech-list-wrapper {
	margin-top: 1rem;
	height: 4.4rem;
	flex-wrap: wrap;
}

.project-des-wrapper textarea {
	height: 7.7rem;
	resize: none;
}

.create-post-btns-wrapper {
	margin-top: 3rem;
}

.create-post-btns-wrapper button {
	margin-right: 1rem;
}


/* BrowsePosts area */
.project-nav-wrapper {
	width: 100%;
	margin-bottom: 1rem;
}

.project-wrapper {
	width: 100%;
	margin-top: 2rem;
}

.project-detail-wrapper,
.project-video-wrapper {
	width: 50%;
}


.project-detail-wrapper {
	padding: 0 1rem;
}

.project-detail-wrapper div {
	margin-bottom: 2rem;
}

.project-links-wrapper {
	width: 100%;
	text-align: center;
}

.project-links-wrapper a {
	margin: 0 2rem;
	padding-bottom: 1rem;
}

.project-links-wrapper a:hover {
	border-bottom: 1px solid #7C4DFF;
}




 /*Media query */
@media (max-width: 1100px) {
	
	/* Dashboard buttons 
	.dash-buttons-container {
		flex-direction: column;
	}

	.dash-buttons-container a {
		width: 100%;
		margin: 10% 0 0;
	}

}



@media (max-width: 700px) {

	/* Dashboard buttons */
	.dash-buttons-container {
		width: 400px;
	}

}